<!DOCTYPE html>
<html ng-app="root">
<head>
  <title>Angular Project</title>
  <link rel="shortcut icon" href="images/angularjs.jpg" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

  <container class="col-xs-12 user-form" ng-controller="form">
    <form>
      <p>Name:<input type="text" class="name-input" ng-model="name" /></p>
      <p>Age:<input type="number" class="age-input" min="0" max="116" ng-model="age" /></p>
      <button class="btn-default" ng-click="addUser()" onclick="return false">Add User</button>
    </form>
    <div class="col-md-12">
      {{nameEntry}}
      <br>
      {{ageEntry}}
    </div>
  </container>

  <container class="list-div" ng-controller="index">
    <div class="col-sm-12">
      <h1>Users</h1>
    </div>
    <div class="col-sm-4 user-item" ng-repeat="user in users">
      <div class="user-content">
        <p class="table-name">Name: {{user.name}}</p>
        <p class="table-age">Age: {{user.age}}</p>
      </div>
    </div>
  </container>

  <script src="js/root.js"></script>
  <script src="js/users.js"></script>
  <script src="js/services.js"></script>
  <script src="js/functions.js"></script>

</body>
</html>
